{# raw xsrf_form_html() #}
<div class="inputs">
  {% for field in form %}
  {# dir(field), field.type, field.flags.required #}
    <div class="form-group" type="{{ field.type}}">
      {% raw field.label(class_="control-label", text=_(prefix + '_' + field.name)) %}
      {% if field.flags.required %}
        <span class="glyphicon glyphicon-asterisk"></span>
      {% end %}

      {% raw field(class_="form-control", placeholder=field.label.text) %}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="error">{{ error }}</span>
        {% end %}
      {% end %}
    </div>
  {% end %}
</div>
