*{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
:focus{outline:0 none}
body{margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif}
img{max-width:100%}
[hide]{display:none}
header{background:#fff;box-shadow:0 0 1rem #666}
[data-step="0"],[data-step="3"],[data-step="4"]{text-align:center;}
[data-step="0"] img,[data-step="3"] img,[data-step="4"] img{margin:100px auto 0}
[data-step="0"] .entry-title,[data-step="3"] .entry-title,[data-step="4"] .entry-title{margin-bottom:5px}
[data-step="0"] .entry-desc,[data-step="3"] .entry-desc,[data-step="4"] .entry-desc{margin:0 0 30px;color:#797979}
[data-step="0"] label,[data-step="3"] label,[data-step="4"] label{color:#797979}
.entry{width:980px;margin:0 auto;}
.entry-title{margin:65px 0;text-align:center;font-size:35px;color:#4a4a4a;line-height:1.4}
.entry-notice{font-size:24px;text-align:center}
.entry-tag-group{display:flex;flex-direction:row;align-items:center;}
.entry-tag-group:nth-of-type(2n+1){background:#f6f6f6}
.entry-tag-title,.entry-tag-list{line-height:40px;flex:auto}
.entry-tag-list{padding:17px 0;}
.entry-tag-list span{margin:3px 0 0;padding:0 10px;display:inline-block;cursor:pointer;-webkit-transition:opacity .5s ease-in-out;}
.entry-tag-list span:hover,.entry-tag-list span.active{background:#009873;color:#fff}
.entry-tag-list span:hover{opacity:.5}
.entry-tag-list span.active{opacity:1}
.entry-tag-title{flex:0 0 5em;padding:40px 1em;font-size:23px;color:#4a4a4a;text-align:center}
.entry-btn{text-align:center;}
.entry-btn button{cursor:pointer;background:#00aedb;font-size:35px;color:#fff;width:400px;padding:30px 0;margin:75px 0;border:0 none;border-radius:50px}
.entry-btn [type=reset]{background:#646264}
.entry-btn .skip{background:transparent;padding:0;margin:0;color:#00aedb}
.entry-age{text-align:center;}
.entry-age span{cursor:pointer;display:inline-block;width:150px;height:150px;line-height:150px;margin:25px 45px;border-radius:50%;background:#9fa093;color:#fff;font-size:30px;-webkit-transition:opacity .5s ease-in-out;}
.entry-age span:hover{opacity:.5}
.entry-age span:hover:nth-of-type(1),.entry-age span.active:nth-of-type(1){background:#d4e855}
.entry-age span:hover:nth-of-type(2),.entry-age span.active:nth-of-type(2){background:#f76f00}
.entry-age span:hover:nth-of-type(3),.entry-age span.active:nth-of-type(3){background:#f97b8d}
.entry-age span:hover:nth-of-type(4),.entry-age span.active:nth-of-type(4){background:#009873}
.entry-age span:hover:nth-of-type(5),.entry-age span.active:nth-of-type(5){background:#00aedb}
.entry-age span:hover:nth-of-type(6),.entry-age span.active:nth-of-type(6){background:#009873}
.entry-age span:hover:nth-of-type(7),.entry-age span.active:nth-of-type(7){background:#43b540}
.entry-age span:hover:nth-of-type(8),.entry-age span.active:nth-of-type(8){background:#5d483a}
.entry-age .active{opacity:1}
.entry-form{background:#f6f6f6;text-align:left;}
.entry-form-inner{padding:1px 2rem 1rem;max-width:100%;margin:0 auto}
.entry-form label{display:block;margin-top:1rem}
.entry-form input,.entry-form textarea{border:1px solid #dbd5dd;width:100%;line-height:2;box-sizing:border-box}
.entry table{width:100%;max-width:100%;border-spacing:0;border-collapse:collapse;}
.entry table th,.entry table td{padding:1em;}
.entry table th:nth-of-type(2),.entry table td:nth-of-type(2),.entry table th:nth-of-type(3),.entry table td:nth-of-type(3),.entry table th:nth-of-type(4),.entry table td:nth-of-type(4){width:6em}
.entry table td:nth-of-type(1),.entry table td:nth-of-type(5){text-align:left}
.entry table td:nth-of-type(4){display:none}
.entry table th{min-width:4em;}
.entry table th:nth-of-type(1){width:18em;background:#d4e855}
.entry table th:nth-of-type(2){background:#f76f00}
.entry table th:nth-of-type(3){background:#f97b8d}
.entry table th:nth-of-type(4){display:none;background:#009873}
.entry table th:nth-of-type(5){background:#00aedb}
.entry table th:nth-of-type(6){background:#43b540}
.entry table tbody tr:nth-of-type(2n+1){background:#f6f6f6}
.entry table .active{color:#ff1493;border-left:5px solid #ff1493}
@media (max-width: 740px){header{padding-right:20px}
.entry{max-width:100%;}
.entry table th:nth-of-type(4),.entry table td:nth-of-type(4){display:table-cell}
.entry table th:nth-of-type(2),.entry table td:nth-of-type(2),.entry table th:nth-of-type(3),.entry table td:nth-of-type(3),.entry table th:nth-of-type(5),.entry table td:nth-of-type(5){display:none}
.entry-title{font-size:20px}
.entry-age span{font-size:18px;width:4em;height:4em;line-height:4em;margin:.5em 1em}
.entry-tag-group{flex-wrap:wrap}
.entry-tag-list{width:100%}
.entry-tag-title{flex:0 0 auto;padding:1em 10px 0;border-bottom:1px solid #ccc}
.entry-btn button{margin:2em 0;max-width:40%;font-size:20px}
}