square(d)
  width d
  height d
  line-height d

*
  //-webkit-user-select none
  -webkit-text-size-adjust none
  -webkit-tap-highlight-color rgba(0,0,0,0)
:focus
  outline 0 none

body
  margin 0
  padding 0
  font-family 'Helvetica Neue',Helvetica,Arial,sans-serif

img
  max-width 100%

[hide]
  display none

header
  background #fff
  box-shadow 0 0 1rem #666


[data-step="0"]
[data-step="3"]
[data-step="4"]
  text-align center
  img
    margin 100px auto 0
[data-step="0"]
[data-step="3"]
[data-step="4"]
  .entry-title
    margin-bottom 5px
  .entry-desc
    margin 0 0 30px
    color #797979
  label
    color #797979

.entry
  width 980px
  margin 0 auto
  &-title
    margin 65px 0
    text-align center
    font-size 35px
    color #4a4a4a
    line-height 1.4
  &-notice
    font-size 24px
    text-align center
  &-tag
    d=10em
    gap=40px
    fs=23px
    &-group
      display flex
      flex-direction row
      align-items center
      &:nth-of-type(2n+1)
        background #F6F6F6
    &-title
    &-list
      line-height gap
      flex auto
    &-list
      padding (gap/2 - 3) 0
      span
        margin 3px 0 0
        padding 0 10px
        display inline-block
        cursor pointer
        -webkit-transition opacity .5s ease-in-out
        &:hover
        &.active
          background #009873
          color #fff
        &:hover
          opacity .5
        &.active
          opacity 1
    &-title
      flex 0 0 (d/2)
      padding gap 1em
      font-size fs
      color #4a4a4a
      text-align center
  &-btn
    text-align center
    button
      cursor pointer
      background #00AEDB
      font-size 35px
      color #fff
      width 400px
      padding 30px 0
      margin 75px 0
      border 0 none
      border-radius 50px
    [type=reset]
      background #646264
    .skip
      background transparent
      padding 0
      margin 0
      color #00AEDB

  &-age
    text-align center
    span
      d=150px
      cursor pointer
      display inline-block
      square(d)
      margin 25px 45px
      border-radius 50%
      background #9FA093
      color #fff
      font-size 30px
      -webkit-transition opacity .5s ease-in-out
      &:hover
        opacity .5
      &:hover
      &.active
        &:nth-of-type(1)
          background #D4E855
        &:nth-of-type(2)
          background #F76F00
        &:nth-of-type(3)
          background #F97B8D
        &:nth-of-type(4)
          background #009873
        &:nth-of-type(5)
          background #00AEDB
        &:nth-of-type(6)
          background #009873
        &:nth-of-type(7)
          background #43B540
        &:nth-of-type(8)
          background #5D483A
    .active
      opacity 1

  &-form
    background #F6F6F6
    text-align left
    &-inner
      padding 1px 2rem 1rem
      max-width 100%
      margin 0 auto
    label
      display block
      margin-top 1rem
    input, textarea
      border 1px solid #DBD5DD
      width 100%
      line-height 2
      box-sizing border-box

  table
    width 100%
    max-width 100%
    border-spacing 0
    border-collapse collapse
    th, td
      padding 1em
      &:nth-of-type(2)
      &:nth-of-type(3)
      &:nth-of-type(4)
        width 6em
    td
      &:nth-of-type(1)
      &:nth-of-type(5)
        text-align left
      &:nth-of-type(4)
        display none
    th
      min-width 4em
      &:nth-of-type(1)
        width 18em
        background #D4E855
      &:nth-of-type(2)
        background #F76F00
      &:nth-of-type(3)
        background #F97B8D
      &:nth-of-type(4)
        display none
        background #009873
      &:nth-of-type(5)
        background #00AEDB
      &:nth-of-type(6)
        background #43B540
    tbody tr:nth-of-type(2n+1)
      background #F6F6F6
    .active
      color deeppink
      border-left 5px solid deeppink


@media (max-width: 740px)
  header
    padding-right 20px
  .entry
    max-width 100%
    table
      th, td
        //padding 5px 10px
        &:nth-of-type(4)
          display table-cell
        &:nth-of-type(2)
        &:nth-of-type(3)
        &:nth-of-type(5)
          display none
    &-title
      font-size 20px
    &-age span
      font-size 18px
      square(4em)
      margin .5em 1em
    &-tag-group
      flex-wrap wrap
    &-tag-list
      width 100%
    &-tag-title
      flex 0 0 auto
      padding 1em 10px 0
      border-bottom 1px solid #ccc
    &-btn
      button
        margin 2em 0
        max-width 40%
        font-size 20px
