[hide]{display:none !important}
form .inputs{display:flex;flex-direction:row;flex-wrap:wrap;}
form .inputs .form-group{flex:0 0 50%;min-width:50%;padding:0 1rem}
form[action='']{background:#eee;padding:1rem;}
form[action=''] .form-group{flex:0 0 33.33%;min-width:33.33%}
form .form-group[type='TextAreaField']{order:1;flex:0 0 100%;min-width:100%}
.result{display:flex;flex-direction:row;flex-wrap:wrap;}
.result .filter{text-align:right;}
.result .filter a{margin-right:1rem}
.result table th{white-space:nowrap;}
.result table th:nth-last-of-type(1){min-width:122px}
.result form{flex:1;min-width:33.33%}
@media (max-width: 900px){.result form{min-width:50%}
}.tt-menu{padding:1rem;min-width:160px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}
.tt-suggestion:hover,.tt-suggestion:focus,.tt-suggestion.tt-cursor{color:#fff;text-decoration:none;outline:0;background-color:#428bca}

