flex_wrap()
  display flex
  flex-direction row
  flex-wrap wrap


[hide]
  display none !important


form
  //padding 1rem
  //background #eee
  //border 1rem #fff solid
  //border-radius 2rem
  //-webkit-box-sizing border-box
  .inputs
    flex_wrap()
    .form-group
      //flex 1
      flex 0 0 50%
      min-width 50%
      padding 0 1rem
  &[action='']
    background #eee
    padding 1rem
    .form-group
      flex 0 0 33.33%
      min-width 33.33%
  .form-group[type='TextAreaField']
    order 1
    flex 0 0 100%
    min-width 100%


.result
  .filter
    text-align right
    a
      margin-right 1rem
  table
    th
      white-space nowrap
      &:nth-last-of-type(1)
        min-width 122px
  flex_wrap()
  form
    flex 1
    min-width 33.33%
  @media (max-width: 900px)
    form
      min-width 50%


.tt-menu
  padding 1rem
  min-width 160px
  background-color #ffffff
  border 1px solid #cccccc
  border 1px solid rgba(0, 0, 0, 0.15)
  border-radius 4px
  box-shadow 0 6px 12px rgba(0, 0, 0, 0.175)
  background-clip padding-box

.tt-suggestion
  &:hover
  &:focus
  &.tt-cursor
    color #ffffff
    text-decoration none
    outline 0
    background-color #428bca
