{% extends 'base.html' %}

{% block content %}
{% set ft = handler.ft %}


    <div class="page-header">
      <h1>{{ result.name }}</h1>
      <small>{{ result.country or "" }}</small>
    </div>

    <p class="lead">
      {% raw paragraph(result.prize) %}
    </p>

<div>
  {% for a in pager.result %}
  <p>
    {{ a.remain }} / {{ a.total }}
    <a href="/book/{{ a.id }}">{{ " | ".join([a.name, a.subtitle]) }}</a>
  </p>
  {% end %}
</div>

{% raw pager.render() %}

{% end %}
