<!DOCTYPE html>
<link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ static_url('index.css') }}" />

<nav class="navbar navbar-default  navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">（≧∇≦）YouGuo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/choose">choose</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="/login">login</a></li>
    </ul>
    <form action="/book/" class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <div class="input-group-btn" hide>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        {% set keyword = handler.get_argument('q', '') %}
        <input type="text" class="form-control" placeholder="keyword of book name" name="q" value={{ keyword }}>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      {# for a in ['book', 'author', 'history', 'comment', 'user', 'parent', 'tag'] #}
      {% for a in ['book', 'author', 'history', 'user', 'parent', 'tag', 'booklist'] %}
        <a class="list-group-item" href="/{{ a }}/">{{ _(a) }}</a>
      {% end %}
    </div>
  </div>
  <div class="col-md-9">
    {% block content %}{% end %}
  </div>
</div>
</div>
<script src="{{ static_url('jquery.min.js') }}"></script>
<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>

{% block script %}{% end %}
