{% extends 'base.html' %}

{% block content %}
{% set ft = handler.ft %}
{% set a = result %}


<div class="row">
  <div class="jumbotron col-md-8">
    <div class="page-header">
      <h1>{{ result.name }}</h1>
    </div>

    <p class="lead">
      <strong hide>{{ _(ft + '_desc') }}:</strong>
      {% raw paragraph(result.description) %}
    </p>

    <div class="pull-left">
      <select data-placeholder="Tags" style="width:350px;" multiple class="chosen-select-no-results"></select>
    </div>
    <div class="btn-group btn-group-sm pull-right" role="group">
      <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modal-book-{{ result.id }}">{{ _('edit') }}</a>
      <a class="btn btn-default" href="/{{ ft }}/{{ result.id }}?mtd=delete">{{ _('delete') }}</a>
    </div>
  </div>

  <dl class="dl-horizontal col-md-4">
    <dt>{{ _(ft + '_author') }}</dt>
    <dd>{% raw to_link(result.author) %}</dd>

    {% for col in handler.model.__table__.columns._data %}
      {% if col not in ['id', 'created', 'updated', 'author_id', 'tag_id', 'description'] %}
      <dt>{{ _(ft + '_' + col) }}</dt>
      <dd>{% raw to_link(getattr(a, col)) %}</dd>
      {% end %}
    {% end %}
  </dl>


  <div id="modal-book-{{ result.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/{{ ft }}/{{ result.id }}?mtd=put" method="post">
        <div class="modal-body">
          {% module Form(handler.form(obj=result), ft) %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">{{ _('edit') }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>

{% end %}


{% block script %}
<link rel="stylesheet" href="{{ static_url('chosen/chosen.css') }}" />
<script src="{{ static_url('chosen/chosen.jquery.min.js') }}"></script>
<script>
  var node = $('select');
  var tags = {% raw handler.jsondump(tags, False) %};
  var book_id = {{ result.id }};
  $.get('/api/tag?type=book', function(res){
    var tid_list = tags.map(function(d){
      return d.tag_id;
    })
    var opt = [];
    $.each(res, function(i, d){
      var sel = (~tid_list.indexOf(d.id)) ? 'selected' : '';
      opt.push("<option value='"+d.id+"' "+sel+">"+d.name+"</option>");
    })
    node.html(opt.join(''));
    node.chosen().change(function(e, d) {
      if (d.selected) {
        $.post('/api/tag?type=book&mtd=add', { tag: d.selected, book: book_id });
      }
      if (d.deselected) {
        $.post('/api/tag?type=book&mtd=del', { tag: d.deselected, book: book_id });
      }
    })
  })
</script>
{% end %}
