<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="{{ static_url('choose.css') }}" />
    <script src="{{ static_url('jquery.min.js') }}"></script>
  </head>
  <body>
    <header>
      <a href="/choose"><img src="{{ static_url('choose.png') }}" alt="YouGuo - book filter" title="有果帮你选绘本" /></a>
    </header>

    {% set step = lambda n: 'data-step={n} {hide}'.format(n=n, hide='' if handler.get_argument('step', '1') == str(n) else 'hide') %}

    <section class="entry" {% raw step(0) %}>
      <h2 class="entry-title">借书单马上飞向有果</h2>
      <p class="entry-desc">一次没有选好，也可以发多张借书单哦</p>
      <p class="entry-desc">非邮寄用户，请最晚在明天20:00前到馆取书哦</p>

      <img src="{{ static_url('superman.png') }}" />
      <div class="entry-btn">
        <button type="reset">再去选选</button>
      </div>
    </section>

    <section class="entry" {% raw step(4) %}>
      <h2 class="entry-title">第四步：把借书单发给我们</h2>
      <p class="entry-desc">一次没有选好，也可以发多张借书单哦</p>

      <form action="/choose?booklist={{ handler.get_argument('list', '') }}" method="POST">
        <div class="entry-form">
          <div class="entry-form-inner">
            <label>会员手机号(必填)</label>
            <input name="mobile" type="tel" />
            <label>收货人姓名(邮寄请填写，会员每月可包邮一次)</label>
            <input name="name" type="text" />
            <label>详细地址(限上海地区，请填写详细地址)</label>
            <textarea name="address" rows="4"></textarea>
          </div>
        </div>

        {% if book_output %}
        <p>借书单[选好的书也可能被外借了，工作人员会与您沟通确定书单]</p>
        <table class="entry-book-list">
          <thead><tr><th>书名</th><th>分类号</th><th>分类名</th><th>分类</th><th>适合年龄</th><th>有果标签</th></tr></thead>
          <tbody>
            {% for tbl in book_output %}
            {% set d = tbl[0] %}
            <tr data-id="{{ d.id }}">
              <td>{{ d.name }}</td>
              <td>{{ d.typeno }}</td>
              <td>{{ d.tag.name }}</td>
              <td>{{ d.tag.name }} ({{ d.typeno }})</td>
              <td>{{ ", ".join([str(a + 1) for a in range(0, 12) if getattr(d, 'age%d' % a)]) }}</td>
              <td>{{ tbl[1] }}</td>
            </tr>
            {% end %}
          </tbody>
        </table>
        {% end %}

        <div class="entry-btn">
          <button type="reset">重新选</button>
          <button>发送借书单</button>
        </div>
      </form>
    </section>

    <section class="entry" {% raw step(3) %}>
      {% if book_list %}
      <h2 class="entry-title">第三步：在我们推荐的书中选择</h2>
      <p class="entry-desc">点击书籍名称生成借书单</p>
      <table class="entry-book-list">
        <thead>
          <tr>
            <th>书名</th>
            <th>分类号</th>
            <th>分类名</th>
            <th>分类</th>
            <th>适合年龄</th>
            <th>有果标签</th>
          </tr>
        </thead>
        <tbody>
          {% for tbl in book_list %}
          {% set d = tbl[0] %}
          <tr data-id="{{ d.id }}">
            <td>{{ d.name }}</td>
            <td>{{ d.typeno }}</td>
            <td>{{ d.tag.name }}</td>
            <td>{{ d.tag.name }} ({{ d.typeno }})</td>
            <td>{{ ", ".join([str(a + 1) for a in range(0, 12) if getattr(d, 'age%d' % a)]) }}</td>
            <td>{{ tbl[1] }}</td>
          </tr>
          {% end %}
        </tbody>
      </table>
      {% else %}
        <img class="entry-not-found" src="{{ static_url('not_found.png') }}" />
        <h2 class="entry-title">没有找到符合要求的绘本</h2>
        <p class="entry-notice">请重新筛选，或与工作人员沟通</p>
      {% end %}
      <div class="entry-btn">
        <button type="reset">重新选</button>
        <button>生成书单</button>
      </div>
    </section>

    <section class="entry" {% raw step(2) %}>
      <h2 class="entry-title">第二步：请选择感兴趣的主题</h2>
      <div class="entry-btn">
        <button class="skip">跳过</button>
      </div>
      {% for p in tag_list %}
        {% if not p.parent_id %}
          {% set child = [f for f in tag_list if p.id == f.parent_id and p.id != 7] %}
          {% if child %}
            <div class="entry-tag-group">
              <div class="entry-tag-title">
                {{ p.name }}
              </div>
              <div class="entry-tag-list">
              {% for c in child %}
                {% set tags = [int(t) for t in handler.get_argument('tag', '').split(',') if t ] %}
                {% set cls = 'class=active' if c.id in tags else '' %}
                <span data-tid="{{ c.id }}" {{ cls }}>{{ c.name }}</span>
              {% end %}
              </div>
            </div>
          {% end %}
        {% end %}
      {% end %}
      <div class="entry-btn">
        <button>下一步</button>
      </div>
    </section>

    <section class="entry" {% raw step(1) %}>
      <h2 class="entry-title">第一步：请点击选择阅读者年龄</h2>
      <div class="entry-age">
        {% for age in range(0, 8) %}
        {% set ages = [int(t) for t in handler.get_argument('age', '').split(',') if t ] %}
        {% set cls = 'class=active' if age in ages else '' %}
        <span data-age={{ age }} {{ cls }}>{{ age }} - {{ age+1 }}</span>
        {% end %}
      </div>
      <div class="entry-btn">
        <button>下一步</button>
      </div>
    </section>

    <script src="{{ static_url('choose.js') }}"></script>
  </body>
</html>
