{% extends 'base.html' %}

{% block content %}
<style>
  html { height: 100%; }
  body {
    background: url("{{ static_url('cover0814.jpg') }}") no-repeat 50% 50% / cover;
  }
  a.list-group-item {
    background: rgba(255,255,255, .3);
    border-color: transparent;
    color: #000;
  }
  .well {
    background-color: transparent;
    border-left: 5rem solid #fff;
    font: 3rem/1.25 "Georgia", "Xin Gothic", "Hiragino Mincho", "Droid Sans Fallback", "Microsoft YaHei", sans-seif;
    color: #fff;
  }
</style>


<pre class="well well-lg">
<strong>圖書館 (簡): 图书馆</strong>
<br />
(ピンイン:túshūguǎn　注音符号:ㄊㄨˊㄕㄨㄍㄨㄢˇ)
<br />
學生們通常以圖書館為家。
<br />
学生们通常以图书馆为家。
<br />
<i>Xuéshēng men tōngcháng yǐ túshūguǎn wéi jiā. [Pinyin]</i>
<br />
<i>Libraries often become students' second home.</i>
</pre>
{% end %}
