{% extends 'base.html' %}


{% block content %}
{% set ft = handler.ft %}
{% set attrs = handler.attrs %}
{% set keyword = handler.get_argument('q', '') %}

{% if keyword %}
  <h2>Search: {{ keyword }}</h2>
{% end %}


<div class="result">
  <div class="filter">
  {{ _('status_filter') }}:
  {% for i, c in enumerate(handler.choices) %}
    <a href="?status={{ i }}">{{ c }}</a>
  {% end %}
  </div>

  <table class="table table-striped">
  <tr>
    {% for k in attrs %}<th>{{ _(ft + '_' + k) }}</th>{% end %}
    <th>{{ _('actions') }}</th>
  </tr>
  {% for a in pager.result %}
  <tr>
    {% for k in attrs %}<td>{% raw to_link(getattr(a, k)) %}</td>{% end %}
    <td>
      <div class="btn-group  btn-group-xs" role="group">
        <a class="btn btn-default" href="/{{ ft }}/{{ a.id }}">{{ _('view') }}</a>
        <a class="btn btn-default" href="#modal-{{ ft }}-{{ a.id }}" data-toggle="modal" data-target="#modal-{{ ft }}-{{ a.id }}">{{ _('edit') }}</a>
        <a class="btn btn-default" href="/{{ ft }}/{{ a.id }}?mtd=delete">{{ _('delete') }}</a>
      </div>

      <div id="modal-{{ ft }}-{{ a.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="/{{ ft }}/{{ a.id }}?mtd=put" method="post">
              <div class="modal-body">
                {% module Form(handler.form(obj=a), ft) %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">{{ _('edit') }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </td>
  </tr>
  {% end %}
  </table>
</div>

{% raw pager.render() %}

{% end %}
