{% extends 'base.html' %}

{% block content %}
{% set ft = handler.ft %}


    <div class="page-header">
      <h1>{{ result.name }}</h1>
    </div>

    {% for k in handler.attrs %}
    <div>{{ _(ft + '_' +k) }}: {% raw to_link(getattr(result, k)) %}</div>
    {% end %}

    <p class="lead">
      {% raw paragraph(result.comment) %}
    </p>

<div>
  {{ _('book_in_list') }}:
  {% for a in book %}
  <p><a href="/book/{{ a.id }}">{{ a.name }}</a></p>
  {% end %}
</div>

{% end %}
