{% extends 'base.html' %}

{% block content %}
{% set ft = 'tag' %}
{% set attrs = ['id', 'name', 'type', 'parent_id'] %}

<form action="" method="post">
  <h2 class="form-group"># New {{ ft }}</h2>
  {% module Form(handler.form()) %}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">edit</button>
  </div>
</form>


<div class="result">
  <table class="table table-striped">
  <tr>
    {% for k in attrs %}<th>{{ k }}</th>{% end %}
    <th>actions</th>
  </tr>
  {% for a in pager.result %}
  <tr>
    {% for k in attrs %}<td>{{ getattr(a, k) }}</td>{% end %}
    <td>
      <a href="#">edit</a>
      <a href="/{{ ft }}/{{ a.id }}?mtd=delete">delete</a>
    </td>
  </tr>
  <div hide>
    <form action="/{{ ft }}/{{ a.id }}?mtd=put" method="post">
      {% module Form(handler.form(obj=a)) %}
      <button type="submit" class="btn btn-primary">edit</button>
    </form>
  </div>
  {% end %}
  </table>
</div>

{% raw pager.render() %}

{% end %}
